#list {
  border-right: 1px solid lightgray;
  height: 100%;
  overflow-y: auto;
  padding: 0px;
}

#running {
  color: green;
}

#add {
  bottom: 20px;
  position: absolute;
  right: 20px;
}

#name {
  width: 200px;
}

#delete {
  position: absolute;
  right: 20px;
}

#code {
  font-family: "Roboto Mono", monospace;
  height: calc(100% - 82px);
  margin: 20px;
  margin-top: 0px;
  padding: 10px;
  resize: none;
  width: calc(100% - 62px);
}

#deploy {
  bottom: 40px;
  position: absolute;
  right: 40px;
}
