<div style="display: flex; height: 100%; overflow: hidden">
  <div style="position: relative; width: 20%">
    <mat-selection-list
      id="list"
      [multiple]="false"
      (selectionChange)="selectFunc($event)"
    >
      <mat-list-option *ngFor="let func of funcs" [value]="func">
        <div style="display: flex; justify-content: space-between">
          <span>{{ func.name }}</span>
          <mat-icon id="running" *ngIf="func.running">check_circle</mat-icon>
        </div>
      </mat-list-option>
    </mat-selection-list>
    <button mat-fab id="add" color="primary" (click)="addFunc()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngIf="selectedFunc" style="position: relative; width: 80%">
    <div
      style="
        align-items: center;
        display: flex;
        font-size: small;
        height: 40px;
        position: relative;
      "
    >
      <div style="margin-left: 20px">
        <span>Name: </span>
        <input
          id="name"
          [(ngModel)]="selectedFunc.name"
          disabled="{{ selectedFunc.running }}"
        />
      </div>
      <span style="margin-left: 20px">Runtime: Python 3.10</span>
      <span style="margin-left: 20px">Framework: Flask</span>
      <div style="margin-left: 20px">
        <span>URL: </span>
        <a href="{{ backendUrl }}/{{ selectedFunc.name }}" target="_blank"
          >{{ backendUrl }}/{{ selectedFunc.name }}</a
        >
      </div>
      <button id="delete" mat-icon-button color="warn" (click)="deleteFunc()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <textarea id="code" [(ngModel)]="selectedFunc.code"></textarea>
    <button
      id="deploy"
      mat-raised-button
      color="primary"
      (click)="deployFunc()"
    >
      <mat-icon>publish</mat-icon>
    </button>
  </div>
</div>
